<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>YDHouse</title>
  
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>
  
  <body>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- 타이틀이 first 혹은 second 인가를 기준으로 클래스를 변경 -->
    <input type = "hidden" id="titleHidden" value="<%= title%>">

    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" id="homeCss"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="homeTap" aria-expanded="true">Home</a></li>
        <li role="presentation" class="dropdown" id="booksListCss">
          <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">장부 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
            <li><a href="#booksList" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">장부기입</a></li>
            <li><a href="#booksAnalysis" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">장부분석</a></li>
            <li><a href="#" tabindex="-1" role="tab" id="dropdown3-tab" data-toggle="tab" aria-controls="dropdown3">감가상각</a></li>
            <li><a href="#" tabindex="-1" role="tab" id="dropdown4-tab" data-toggle="tab" aria-controls="dropdown4">거래처</a></li>
            <li class="divider"></li>
            <li><a href="#" tabindex="-1" role="tab" id="dropdown5-tab" data-toggle="tab" aria-controls="dropdown5">명세서</a></li>
            <li><a href="#" tabindex="-1" role="tab" id="dropdown6-tab" data-toggle="tab" aria-controls="dropdown6">계산서</a></li>
          </ul>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledBy="home-tab">
            <p>로그인 페이지 예정</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="booksList" aria-labelledBy="booksList-tab">
          <h4></h4>
          <div class="btn-group"><input type="date" id="dateStart" class="form-control"></div>
          <div class="btn-group"><input type="date" id="dateEnd" class="form-control"></div>
          <div class="btn-group"><button type="button" class="btn btn-link" id="btnBooksSearch" aria-expanded="false">조회</button></div>
          <div class="btn-group"><button type="button" class="btn btn-link" id="btnBooksInsert" aria-expanded="false">장부입력</button></a></div>
          <h4></h4>
          <table class="table table-condensed">
            <tr>
              <th>날짜</th>
              <th>거래구분</th>
              <th>거래내용</th>
              <th>거래처</th>
              <th>수입금액</th>
              <th>수입VAT</th>
              <th>비용금액</th>
              <th>비용VAT</th>
              <th>고정자산비용</th>
              <th>고정자산VAT</th>
              <th>비고</th>
            </tr>
            <% for(var i = 0; i<booksList.length; i++) { %>
            <tr>
              <td><%=booksList[i].bdate%></td>
              <td><%=booksList[i].booksclassfication%></td>
              <td><%=booksList[i].booksdetails%></td>
              <td><%=booksList[i].booksclient%></td>
              <td><%=booksList[i].booksincome%></td>
              <td><%=booksList[i].booksincomevat%></td>
              <td><%=booksList[i].booksexpense%></td>
              <td><%=booksList[i].booksexpensevat%></td>
              <td><%=booksList[i].booksasset%></td>
              <td><%=booksList[i].booksassetvat%></td>
              <td><%=booksList[i].booksremarks%></td>
            </tr>
            <% } %>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="booksAnalysis" aria-labelledBy="booksAnalysis-tab">
          <p>장부분석 탭</p>
        </div>
      </div>
    </div>


    <script>
      $(function() {
        //타이틀이 first 혹은 second 인가를 기준으로 클래스를 변경
        var titleHidden = $('#titleHidden').val();
        var homeCss = document.getElementById('homeCss');
        var home = document.getElementById('home');
        var booksListCss = document.getElementById('booksListCss');
        var booksList = document.getElementById('booksList');

        //달력
        var dateStart = document.getElementById('dateStart');
        var dateEnd = document.getElementById('dateEnd');

        if(titleHidden == "first"){
          homeCss.className="active";
          home.className="tab-pane fade in active";
          booksListCss.className="dropdown";
          booksList.className="tab-pane fade";

          //달력에 오늘 날짜 입력
          dateStart.valueAsDate = new Date();
          dateEnd.valueAsDate = new Date();

        } else {
          homeCss.className="";
          home.className="tab-pane fade";
          booksListCss.className="dropdown active";
          booksList.className="tab-pane fade in active";

          //달력에 입력했던 날짜가 유지되게 title의 값을 콤마를 기준으로 잘라 넣는다.
          var strArray = titleHidden.split(',');
          dateStart.value = strArray[0];
          dateEnd.value = strArray[1];
        }
      });

      //조회 버튼 클릭 이벤트
      $("#btnBooksSearch").click(function() {
        //달력 텍스트박스의 값을 가져온다.
        var dateStart = $("#dateStart").val();
        var dateEnd = $("#dateEnd").val();

        //쿼리를 돌리기 위해 해당 값을 보낸다.
        location.href = "/booksSearch/" + dateStart + "/" + dateEnd;
      });
      
      //장부입력 버튼 클릭 이벤트
      $("#btnBooksInsert").click(function() {
        $('#myTab a[href="#home"]').tab('show')
        console.log("버튼2");
      });
    </script>

  </body>
</html>